*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    font-size: 100%;
}
body {
    font-size: 1.25rem;
    line-height: 1.39;
    color: #000;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main-container {
    width: 100%;
    max-width: 600px;
    margin: 3rem auto;
}
.entry-header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.entry-thumbnail {
    border-radius: 50%;
}
.entry-title {
    color: #fff;
    font-size: 28px;
    flex: 100%;
    margin: 15px 0 25px;
    text-align: center;
}

.base-image {
    position: fixed;
    inset: 0;
    background-image: url(../images/bg-img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    z-index: -1;
}
.items {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 16px;
    background: #fff;
    border-radius: 0.3rem;
    padding: 10px;
    text-decoration: none;
    margin: 15px;
    border: 1px solid #dee2e6;
    transition: all 0.3s ease;
}
.items span {
    flex-grow: 1;
    text-align: center;
    margin-left: 15px;
}
.items:hover {
    background-color: transparent;
    color: #fff;
}

